/*
   esu-styles.css
   easy-sign-up
   Created by Rew Rixom on February 7, 2013
		ID's have underscores "_"
		Classes have dashes "-"
*/
/* New with version 3 */
/*Easy sign up short code form div */
div.esu-form-div{ display: table; }
div.esu-form-div ul{ list-style: none; margin:0;}
div.esu-form-div ul li { margin: auto; padding:4px;display:block;}
div.esu-form-div input[type=image]{ border: none;background: transparent;box-shadow:none; }
div.esu-form-div input[type=image],div.esu-form-div input[type=submit]{ cursor: pointer;  }
#esu_err {
  list-style: none; padding: 10px;
  line-height: normal;  z-index: 100000;  margin: 0px;
}
#esu_err ul { margin: auto; display: table; list-style: none; }
#esu_err ul li { padding-bottom: 2px; }
div.esu-form-div label.esu-default, .esu-hide{position:absolute!important;top:-9999px!important;left:-9999px!important} br.esu-left{clear:left;}
/*
     FILE ARCHIVED ON 21:40:54 Feb 13, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:30:29 Jun 16, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 104.066
  exclusion.robots: 0.195
  exclusion.robots.policy: 0.188
  RedisCDXSource: 2.793
  esindex: 0.008
  LoadShardBlock: 76.805 (3)
  PetaboxLoader3.datanode: 42.074 (4)
  CDXLines.iter: 22.124 (3)
  load_resource: 51.831
  PetaboxLoader3.resolve: 44.532
*/